.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.container .id {
  width: 100%;
}

.container .severity {
  width: 100%;
}

.container .status {
  width: 100%;
}

.container .time {
  width: 90%;
}

.container .location {
  width: 100%;
}

.container .notes {
  width: 100%;
}

.container .past {
  width: 100%;
}

.container .addButton {
  text-align: center;
}

.treat-case table {
  width: 100%;
}
.center {
  text-align:center;
}
.addButton button {
  width: 100%;
  margin: 10px 0;
  font-size: 24px;
}
