<div class="container">
    <form class="treat-case" [formGroup]="formGroup">
        <table>
            <tr>
                <td colspan="2"><mat-form-field class="id">
                <input matInput placeholder="ID"  formControlName="id">
                </mat-form-field></td>
            </tr>
            <tr>
                <td><mat-form-field class="time">
                <input matInput placeholder="Time" formControlName="time"  value="27.06.2019 15:00:42">
                </mat-form-field></td>
                <td><mat-form-field class="location">
                <input matInput placeholder="Location" formControlName="location"  value="123.32e, 32.55n">
                </mat-form-field></td>
            </tr>
            <tr><td colspan="2">
                <label>Severity: </label>
                <mat-radio-group formControlName="severity">
                    <mat-radio-button *ngFor="let sev of severities" [value]="sev">{{sev}}</mat-radio-button>
                </mat-radio-group>
            </td></tr>
            <tr><td colspan="2">
                <label>Status: </label>
                <mat-radio-group placeholder="Status" formControlName="statusss">
                    <mat-radio-button *ngFor="let st of statuses" [value]="st">{{st}}</mat-radio-button>
                </mat-radio-group>
            </td></tr>
        </table>
    </form>
</div>