<mat-card *ngIf="currentIncident$|async as currentIncident">
  <mat-card-title>
    Incident of {{casualtiesNumber$|async}} casualties
  </mat-card-title>
  <button mat-icon-button (click)="setChild('map')">
    <mat-icon class="mat-48">map</mat-icon>
  </button>
  <button mat-icon-button (click)="setChild('treatment')">
    <mat-icon class="mat-48">person</mat-icon>
  </button>
  <mat-card-content>
    <ng-container [ngSwitch]="child">
      <app-map *ngSwitchCase="'map'" [casualties]="casualties$|async" [cords]="currentIncident.location"></app-map>
      <app-treatment-dialog *ngSwitchCase="'treatment'" [incidentID]="currentIncidentID"></app-treatment-dialog>
    </ng-container>
    <mat-label>Your Casualties</mat-label>
    <app-table [casualties]="myCasualties$|async"></app-table>
  </mat-card-content>
</mat-card>
