<mat-card class="center">
  <mat-card-content>
    <button mat-raised-button color="red">Report New Incident!
      <mat-icon color="warn">warning</mat-icon>
    </button>
    <br/>
    <ng-container *ngIf="currentIncidents$|async as currentIncidents">
      <ng-container *ngIf="currentIncidents.length > 0">
        <mat-select>
          <mat-label>Select Recent Incident</mat-label>
          <mat-option *ngFor="let incident of currentIncidents" [value]="incident.id">
            {{incident.reportingTime.toMillis()|date:'d m yyyy'}}
          </mat-option>
        </mat-select>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
