.app-content {
  padding: 20px;
}

::ng-deep router-outlet.rootRouterHost + * {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-content mat-card {
  margin: 20px;
}

.container {
  z-index: 20;
  padding: 0;
}
