<table mat-table [dataSource]="casualties" class="mat-elevation-z8">

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time</th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity</th>
      <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
    </ng-container>
  
    <!--  <ng-container matColumnDef="nextTreatmentIn">-->
    <!--    <th mat-header-cell *matHeaderCellDef> Next Treatment In </th>-->
    <!--    <td mat-cell *matCellDef="let element"> {{element.nextTreatmentIn}} </td>-->
    <!--  </ng-container>-->
  
    <ng-container matColumnDef="treatmentNotes">
      <th mat-header-cell *matHeaderCellDef> Treatment</th>
      <td mat-cell *matCellDef="let element"> {{element.treatmentNotes}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  